@charset "utf-8";





/*
| -----------------------------------------------------
| footer
| -----------------------------------------------------
*/

.footer {
	display: block;
	font-size: 10px;
	color: #909a9f;
	border-top: 2px solid #202a2f;
	padding-top: 15px;
	padding-bottom: 15px;
}



/*
| ------------------------------------------------------
| footer → a (links)
| ------------------------------------------------------
*/

.footer a {
	text-decoration: none;
	color: #c50;
}

.footer a:hover {		text-decoration: underline;		}




/*
| ------------------------------------------------------
| footer → credits
| ------------------------------------------------------
*/

.footer .credits {
	display: inline-block;
	float: right;
	text-align: right;
}